main{
    padding: 50px 50px;
}

body{
    background-color: #000000;
    color: white;
    font-family: Josefin Sans,sans-serif;
    font-size: 20px;
}

header{
    background-color: #11111100;
    padding: 15px 30px;
    font-family: Josefin Sans,sans-serif;
    font-size: 20px;
}

.navbar-nav .nav-link{
    color: #ffffff; /* Change the default navbar link color */ 
    margin-left: 50px;  
}

.navbar-nav .nav-link:is(.active){
    text-decoration: underline;
    color: #ffffff; /* Change the default navbar link color */ 
    margin-left: 50px;  
}

.navbar-nav .nav-link:not(.active):hover {
    color: #0056b3; /* Change the navbar link color on hover */
}


.navbar-brand {
    color: #fff;
    font-size: 36px;
    position: fixed;
}

.navbar-brand:hover {
    color: #fff;
    animation: pulsate 1s infinite;
}

@keyframes pulsate {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}

.hero-image{
    width: 1000px;
    height: 300px;
    display: inline-block;
    object-fit: cover;
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #000f);
}

.scroller {
    overflow: hidden;
    display: flex;
}

.scroll {
    white-space: nowrap;
    margin: 0 2em;
    flex-grow: 1; /* Add this to allow the container to grow and fill the available space */
}

.scroll div {
    display: flex;
    gap: 2em;
    align-items: center; /* Add this to vertically center the child elements */
}

.scroll p {
    font-family: Josefin Sans, sans-serif;
    font-size: 5em;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 1; /* Adjusted line-height for better vertical centering */
}

.LeftToRight{
    animation: LeftToRight 20s infinite linear;
}


  
@keyframes  LeftToRight {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
}

.flex-container{
    position: relative;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.flex-item{
    background-color: rgba(255, 255, 255, 0.058);
    border-radius: 10px;
    flex: 1;
    flex-direction: row;
    position: relative;
    text-align: center;

    margin: 10px;
    padding: 20px;
    border: 1px solid #cccccc86;
    cursor: pointer;
}










  